/* Custom styles contributed by ms
   ========================================================================== */

.html #page.ding2-site-template {
  background-image: url("../background.jpg");

  .logo {
    margin-bottom: 83px;
    img {
      margin-top: 0;
      position: absolute;
      max-height: 160px;
      max-width: 315px;
      top: 0;
      left: 3px;
    }
  }

  .topbar {
    height: 150px;
  }

  .topbar-inner {
    max-width: 1230px;
    height: inherit;
    left: -30px;
    padding-left: 80px;
  }

  .transform-content1,
  .transform-content2 {
    margin-top: 45px;
  }
}

.panel-pane.pane-page-content {
  min-height: 500px;
  position: relative;
}

.frontpage-layout {
  background: $white;
}

body {
  height: 100%;
}

// Links color

a {
  &:link {
    color: $link-color;
  }

  &:visited {
    color: $link-color;
  }

  &:hover,
  &:focus {
    color: $link-color-hover;
  }
}

.bottom {
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 1200px;
  margin: 0 auto;
  background-color: $white;

  .pane-content p {
    margin-bottom: 0;
    margin-top: 0;
    color: #999999;
  }

  a {
    color: #999999;
  }
}

#page {
  .footer {
    padding-top: 0;
    max-width: 1200px;
    margin: 0 auto;
    background-color: $white;

    div.footer-inner > div.pane-block {
      background: $white;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.content-wrapper {
  margin-top: 0;
}

.not-front {
  .pane-page-content {
     background-color: $white;
     margin-bottom: 20px;
  }
}

.default-layout {
  margin-top: 0px;
}

.transform-content1 {
  background: #ffffff;
  width: 1155px;
  height: 432px;
  position: absolute;
  top: 175px;
  transform: matrix3d( 1.038913710365194, -0.0038314176245210726, 0, 0.000045187815837374775,
  0.028903654485049834, 1.0331118493909193, 0, 0.000055370985603543746, 0, 0, 1, 0, 32, 2, 0, 1 );
  z-index: 0;
}

.transform-content2 {
  background: #ffffff;
  width: 1178px;
  height: 428px;
  position: absolute;
  top: 171px;
  transform: matrix3d( 1.0154825121552282, 0.0019269117877708318, 0, 0.000011202975510295535,
  0, 1.009634558938854, 0, 0.000056014877551477675, 0, 0, 1, 0, 3, 0, 0, 1 );
  z-index: 0;
  margin-left: 21px;
}

.label a {
  background-color: $label-bg-color;
  text-transform: uppercase;
  font-weight: bold;
  color: $label-text-color;
  border-radius: 4px;

  &:hover {
    background-color: $label-bg-color-hover;
  }

  &:link {
    color: $label-text-color;
  }
}

.label a:link,
.view-node-search-result .list-item .field-type-taxonomy-term-reference a a:link,
.ting-reference-reverse-list .list-item .field-type-taxonomy-term-reference a a:link,
.subjects .subject a:link, .news-list .news-label a:link,
.super-heading .field-name-field-ding-news-library .field-item a:link,
.label a:visited,
.view-node-search-result
.list-item .field-type-taxonomy-term-reference a a:visited,
.ting-reference-reverse-list .list-item .field-type-taxonomy-term-reference a a:visited,
.subjects .subject a:visited,
.news-list .news-label a:visited,
.super-heading .field-name-field-ding-news-library .field-item a:visited {
  background-color: $label-bg-color;
  text-transform: uppercase;
  font-weight: bold;
  color: $label-text-color;
  border-radius: 4px;
}

@include small-medium() {
  .transform-content1,
  .transform-content2 {
    display: none;
  }
}

@include medium-large() {
  .transform-content1,
  .transform-content2 {
    display: none;
  }
}

@include small-medium() {
  .html #page {
    background-image: url("../background.jpg") !important;

    .logo img {
      height: 120px;
    }
  }
}
