// Topbar menu
//==========================================================================

.topbar-menu {

  .menu-item {
    background-color: $color-primary;
    color: $white;

    &:hover,
    &.active {
      background-color: $color-secondary;
      color: $white;
    }
  }
}



// Navigation, main menu and secondary menu
//==========================================================================

.main-menu {
  background-color: #e8e7e7;

  .menu-item {
    color: #454545;
    font-weight: 300;

    &:hover,
    &.active {
      color: $link-color-hover;
    }
  }
}

.secondary-menu {
  background-color: #a6d6cc;
  float: none;
  position: absolute;
  right: 0;
  z-index: 10000;
  padding-top: 10px;
  padding-bottom: 10px;
  top: -12px;
  padding-left: 20px;
  transform: matrix3d( 0.847004591975453, 0, 0, -0.00022844866888314, -0.10298881354468103, 0.8130695806159028, 0, -0.00039348961759940696, 0, 0, 1, 0, 0, 0, 0, 1 );

  li {
    padding: 0 18px;
    border-right: 1px solid #959595;

    a.menu-item {
      text-transform: uppercase;
      color: #474747;
      font-weight: bold;
    }
  }
}

.system-user-menu {

  .menu-item {
    color: $white;
  }

}


// Sub menu
//==========================================================================

.sub-menu {

  > li {

    a {
      color: $link-color;

      &:hover {
        color: $link-color-hover;
      }
    }
  }

  li {
    &:before {
      color: $link-color;
    }
  }
}



// Footer menus
//==========================================================================

.footer {
  .pane-title {
    color: $link-color;
  }

  .menu {

    li {
      &:before {
        color: $footer-text-color;
      }

      a {
        color: $footer-text-color;

        &.active {
          color: $link-color-hover;
        }
      }
    }
  }
}

// Action Links
//==========================================================================

.action-links {

  li {
    color: $link-color;

    &:before {
      color: $link-color;
    }
  }
}
